.header {
    background: $off-black;
    color: white;
    margin-bottom: $xl-size;
    padding: $m-size 0; // 1.6rem para topo/baixo, zero para esquerda/direita
}

// convenção de nome BEM - 'block element modifier' (http://getbem.com/)
// Usa-se dois underlines entre nomes do estilo
.header__title {
    font-size: $l-size;
    margin: 0; // zero para todos os lados
}

.header__subtitle {
    color: $off-white;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
}